.carousel{
    display:flex;
    align-items: center;
    justify-content: center;
    width:90%;
    padding: 50px;
    overflow: hidden;
}

.slide{
    width:100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    padding: 20px;
}
.slide h3{
    font-size: 20px;
}
.slide div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide img{
    height:300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}